// .btn {
//     background-color: $main-font;
// }
.recruit_page {
  .recruit_wrap {
    display: flex;
    width: 100%;

    .recruit_h1 {
      width: 40%;
      display: flex;
      justify-content: center;

      h1 {
        margin-top: 180px;
        font-size: 30px;
      }
    }
  }

  .recruit_image {
    max-width: 970px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .gallery_h2 {
    margin: 160px auto 0;
    width: 600px;
  }

  .recruit_wrapwrap {
    height: 500px;
    max-width: 1100px;
    width: 100%;
    margin: 120px auto;
    display: flex;
    position: relative;
    .recruit_comment_box {
      z-index: 1;
      width: 440px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .recruit_h4 {
        h4 {
          font-size: 18px;
        }
      }
      .recruit_comment {
        margin-top: 20px;
        font-size: 15px;
      }
    }
    .recruit_img {
      position: absolute;
      right: 0;
      width: 775px;
    }
  }

  .requirements {
    margin-top: 100px;
    width: 100%;
    height: 750px;
    background-color: rgb(54, 54, 54);
    .requirements_wrap {
      width: 600px;
      margin: 0 auto;
      .requirements_title {
        padding: 80px 0;
        text-align: center;
        h4 {
          color: rgb(255, 255, 255);
          font-size: 27px;
        }
      }
      table {
        tbody {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          color: rgb(255, 255, 255);
          tr {
            th {
              width: 178px;
              text-align: left;
              vertical-align: top;
              font-size: 14px;
            }
            td {
              text-align: left;
              font-size: 14px;
            }
          }
        }      
      }
      .requirements_link {
        margin: 50px auto;
        display: flex;
        align-items: center;
        width: 120px;
        border: 1px solid ;
        border-color: aliceblue;
        background-color: rgb(54, 54, 54);
        padding: 10px;
        p {
          font-size: 15px;
          position: relative;
          transition: all 1s;
          width: 100%;
          a {
            color: aliceblue;
            width: 100%;
            text-decoration: none;
            &::after {
              color: aliceblue;
              content: ">";
              position: absolute;
              top: 0;
              right: 0;
              height: 45px;
            }
          }
        }
      }
    }
  }
}