#content {
  width: 100%;
  display: flex;
  justify-content: center;
  p, div {
    font-size: 6.01em;
    a {
      font-weight: bold;
      color: rgb(153, 109, 201);
    }
  }
}
h1 {
  font-size: 30px;
}
p {
  color: rgb(0, 0, 0);
}