footer
  .contact_wrap 
    .contact_box
      p Demosite Hair TOYO 
      .list_box
        .list
          a(href="") Concept
          a(href="") Menu
          a(href="") About
        .list
          a(href="") Recruit
          a(href="") Contact
          a(href="") Privacy policy
        .list
          a(href="") News
          a(href="") Gallery
          a(href="") Blog 
      .copyright 
        p &copy; 2022 Demosite Hair TOYO
  .contact 
    .contact_box
      h4 Contact 
      p.contact_comment ご予約は全て電話にて承っております。
      |お気軽にご連絡くださいませ。
      p.tel TEL:038-○○○-××××
      |営業時間：09:30～19:30