-
    const headerMenu = [
      {
        pageLink: '/concept',
        pageName: 'Concept'
      },
      {
        pageLink: '/menu',
        pageName: 'Menu',
        //- childMenu: [
        //-   {
        //-     pageLink: 'philosophy.html',
        //-     pageName: '企業理念'
        //-   },
        //-   {
        //-     pageLink: 'message.html',
        //-     pageName: 'トップメッセージ'
        //-   },
        //-   {
        //-     pageLink: 'history.html',
        //-     pageName: '沿革'
        //-   }
        //- ]
      },
      {
        pageLink: '',
        pageName: 'About',
        //- childMenu: [
        //-   {
        //-     pageLink: 'message.html',
        //-     pageName: 'メッセージ'
        //-   },
        //-   {
        //-     pageLink: 'person.html',
        //-     pageName: '社員紹介'
        //-   },
        //-   {
        //-     pageLink: 'guideline.html',
        //-     pageName: '募集要項'
        //-   }
        //- ]
      },
      {
        pageLink: '',
        pageName: 'Gallery '
      },
      {
        pageLink: '',
        pageName: 'Recrult '
      },
      {
        pageLink: '',
        pageName: 'Contact '
      },
      {
        pageLink: '',
        pageName: 'Reserve '
      },
    ];