//- jQuery
script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
//- slick
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
script.
    (window.jQuery || document .write('<script src="js/jquery-1.11.2.min.js"><\/script>'));
script(src="js/main.js")
script(src="js/slick_slide.js")