extends ../_layout
block var
  - metas = {}
  - metas.title = 'title'
  - metas.url = 'url'
  - metas.image = 'image'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
block append meta
  +meta(metas)
  include ../_inc_meta_facebook
  +inc_meta_facebook(metas)
block title
  title こんにちは
block body
    h1 開発環境がんばって構築中
      a(href="#")
    p 菊田琢也
     span
      |ffff
    p 豊永健太
    p 倉本翼
    p 阿良祐希
    p 豊永裕太
    p 麦生田英之
    p 西直人

    ul
      li 
      li 
      li 
      li 