extends ../include/_layout
block var
  - metas = {}
  - metas.title = 'title'
  - metas.url = '/menu/'
  - metas.imgpath = '../images/menu/'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
block append meta
  +meta(metas)
  include ../include/_inc_meta_facebook
  +inc_meta_facebook(metas)
block title
  title Menu
block link
  link(rel='stylesheet' href="../css/style.css")
block body
  main.menu_page
    .menu_wrap 
      .menu_h1
        h1 Menu
      .menu_image 
        img(src=metas.imgpath + "room.jpg", alt="カットイメージ画像")

    .menu_h2
      h2 Cut

      table.menu_list 
        tr 
          th カット（シャンプー・ブロー込）
          td ¥4,950
        tr 
          th メンズカット（シャンプー・ブロー込）
          td ¥4,400
        tr 
          th スクールカット（中高生、シャンプー・ブロー込）
          td ¥3,300
        tr 
          th 前髪カット
          td ¥1,100
        tr 
          th キッズカット
          td ¥2,200

    .menu_h2
      h2 Color

      table.menu_list 
        tr 
          th ファッションカラー（新生毛3cm以内）
          td ¥6,600
        tr 
          th 
            p グレイカラー
            span.span1 ※ハイライト、ローライト等、枚数、内容に応じて値段は変わります
          td 
            p.p1 ¥6,600
            span.span1 1枚 ¥550
        tr 
          th フォイルカラー（ハイライト,ローライト）
          td ¥3,300〜
        tr 
          th 1ブリーチ
          td ¥6,600〜
        tr 
          th 2ブリーチ
          td ¥11,000〜
        tr 
          th ダブルカラー
          td 応相談
        tr 
          th トリプルカラー
          td 応相談
        tr 
          th ロング料金
          td Max + ¥3,300
        tr 
          th 
            p 高級白髪染め《艶グレー》
            p.span1 ※ヒアルロン酸配合のワンランク上の白髪染めです。
              br 
              | ※ロング料金有、最大¥2,200
              br
              | ※シャンプー込
          td.span2 ¥6,600〜

    .menu_h2
      h2 Perm

      .menu_h3 
        h3 perm

      table.menu_list 
        tr 
          th コールドパーマ（カット、シャンプー、ブロー込み）
          td ¥4,950
        tr 
          th.span2 酸性デジタルパーマ（カット別）
          td
            p ¥11,000〜
            | ¥13,200〜
      .menu_h3 
        h3 Straight perm

      table.menu_list 
        tr 
          th 縮毛矯正ストレート（カット別）
          td ¥13,200〜¥15,400
        tr 
          th 前髪ストレート
          td ¥6,600
        tr 
          th 酸性デジタルパーマ（カット別）
          td ¥16,500〜¥18,700

    .menu_h2
      h2 Treatment

      table.menu_list 
        tr 
          th スチームトリートメント
          td ¥1,100
        tr 
          th 3ステップトリートメント
          td ¥3,300
        tr 
          th 美髪トリートメント（ホームケア付き）
          td ¥4,950
        tr 
          th アジュバンサイバー前処理
          td ¥4,400〜

    .menu_h2
      h2 Head spa

      table.menu_list 
        tr 
          th 
            p メンズスキャルプ炭酸エステ
            p.span1 ※落としにくい毛穴に蓄積したアブラを落とし、清潔な頭皮環境に整えます。
          td.span2 ¥2,200
        tr 
          th 頭皮リフレッシュスパ
          td ¥1,100
        tr 
          th 頭皮リフレッシュスパ（ロング）
          td ¥2,200
      
    .menu_h2
      h2 Other

      table.menu_list 
        tr 
          th シャンプー・ブロー
          td ¥2,200